* {
  font-family: "Poppins", sans-serif;
}
body {
  position: relative;
}
.container {
  margin: 0 auto;
  width: 1270px;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: rgba(#ffffff, 0.8);
  .header {
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px;
      .header-right {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        a {
          img {
            width: 70px;
            height: 70px;
          }
        }
        .name-form {
          color: #666;
          margin-left: 30px;
        }
      }
      .header-left {
        a {
          color: #f0932b;
        }
      }
    }
  }
}
.content {
  .container {
    background-color: #ffffff;
    margin-top: 84px;
    padding: 40px 0px;
    .thank-you {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 380px;
      height: 100px;
      margin: 0 auto;
      border-radius: 8px;
      box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15);
      i {
        color: #f0932b;
        text-align: center;
        line-height: 60px;
        width: 60px;
        height: 60px;
        border: 4px solid #f0932b;
        border-radius: 50%;
        font-size: 35px;
        font-weight: bold;
        margin-right: 30px;
      }
      .title {
        span {
          font-size: 14px;
          color: #666;
        }
        strong {
          color: black;
          font-size: 18px;
        }
      }
    }
  }
}
