* {
  font-family: "Poppins", sans-serif;
}
body {
  position: relative;
}
.container {
  margin: 0 auto;
  width: 1170px;
}
header {
  width: 100%;
  position: fixed;
  z-index: 10000;
  background-color: rgba(#ffffff, 0.8);
  .header {
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px;
      .header-right {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        a {
          img {
            width: 70px;
            height: 70px;
          }
        }
        .name-form {
          color: #666;
          margin-left: 30px;
        }
      }
      .header-left {
        a {
          color: #f0932b;
        }
      }
    }
  }
}
.background-video {
  video {
    position: fixed;
    z-index: -1;
    width: 100vw;
    top: 0;
    height: flex;
    z-index: 0;
  }
}
.content {
  position: relative;
  z-index: 9999;
  padding-top: 100px;
  .container {
    nav.menu {
      ul {
        display: flex;
        > * {
          color: #fff;
          margin: 0 20px;
          font-size: 22px;
        }
        li {
        }
      }
    }
  }
}
