.portion-uppper {
  padding: 0px 0;
}

.drop-down-cart {
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  height: 100vh;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(#222, 0.4);
  .wrapper-drop-dwon-cart {
    transform: translateX(100%);
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
    background-color: #fff;
    width: 400px;
    height: 100vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .header-cart {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fa983a;
      border-bottom: 0.5px solid rgba(#666, 0.5);
      padding-bottom: 15px;
      .name-cart {
        font-size: 18px;
        font-weight: 700;
      }
      .btn-close-cart {
        font-size: 14px;
        color: #f6b93b;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
          color: #e58e26;
        }
      }
    }
    .products {
      overflow: auto;
      max-height: 498px;
      .product {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 0.5px solid rgba(#666, 0.5);
        img {
          width: 80px;
          height: 80px;
          margin-right: 30px;
        }
        .content {
          display: flex;
          justify-content: center;
          align-items: center;
          .action-cart {
            .name-product {
              font-size: 14px;
              font-weight: 700;
              color: #666;
              margin-bottom: 5px;
            }
            .group-quantity-cart {
              display: flex;
              align-items: center;
              button {
                width: 17px;
                height: 20px;
                border: 1px solid #222;
                font-size: 12px;
                cursor: pointer;
              }
              .quantity-input-cart {
                display: inline-block;
                height: 20px;
                width: 30px;
                text-align: center;
                border-top: 1px solid #222;
                border-bottom: 1px solid #222;
              }
              .product-price {
                margin-left: 20px;
                font-weight: 700;
              }
            }
          }
        }
        .btn-del-product {
          cursor: pointer;
          width: 20px;
          height: 20px;
          margin-right: 5px;
          border: #666 1px solid;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          i {
            display: inline-block;
            font-size: 14px;
            color: #666;
          }
        }
      }
    }
  }
  .action-detail-cart {
    .sub-total {
      display: flex;
      justify-content: space-between;
      align-content: center;
      padding: 20px;
      border-bottom: 0.5px solid rgba(#666, 0.5);
      .title {
        color: #f6b93b;
      }
      .total-cart {
        font-weight: 700;
        color: #fa983a;
      }
    }
    .btn-checkout {
      text-align: center;
      margin-top: 30px;
      .go-checkout {
        width: 100%;
        background-color: #f6b93b;
        height: 50px;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        border-radius: 5px;
      }
    }
  }
}
