.container {
  margin: 0 auto;
  width: 1170px;
}
* {
  font-family: "Poppins", sans-serif;
}

$headerTopUP: #ffffff;
.body-overflow {
  overflow: hidden;
}
.drop-down-cart {
  position: relative;
  z-index: 1000;
  background-color: #202226;
}
@import "header";

@import "banner";
@import "scrollTop";
//muốn element đè lên video thì phải thêm z-index và position vào thằng cha
//VD:
