.margin-header {
  background-color: #fff;
}
.checkout {
  background-color: #fff;
  .container {
    h1 {
      font-size: 50px;
      margin-bottom: 20px;
    }
    .form-checkout {
      width: 100%;
      display: grid;
      grid-template-columns: 55% 45%;
      .user-checkout {
        padding-right: 30px;
        .title-checkout {
          margin: 20px 0;
          color: #222;
        }
        .input-group {
          margin-bottom: 30px;
          label {
            font-size: 16px;
            color: #222;
          }
          input,
          select {
            height: 55px;
            width: 100%;
            border: 1px solid rgba(#666, 0.3);
            font-size: 16px;
            display: block;
            padding: 15px;
            border-radius: 3px;
            outline: none;
            option {
              font-size: 16px;
            }
          }
        }
      }
      .products-checkout {
        border: 1px solid rgba(#666, 0.3);
        border-radius: 3px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h2 {
          font-size: 30px;
        }
        .title-product-checkout {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid rgba(#666, 0.3);
          p {
            font-size: 18px;
            font-weight: 700;
            padding: 17px 0;
          }
        }
        .product-detail {
          ::-webkit-scrollbar-thumb {
            background: #666;
            border-radius: 5px;
          }
          ::-webkit-scrollbar {
            width: 5px;
          }
        }
        .products {
          max-height: 510px;
          overflow-y: auto;
          .product {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 5px 10px 5px 0;
            .wrapper-product {
              display: flex;
              align-items: center;
              img {
                max-height: 120px;
                height: 100%;
              }
              .content {
                .name {
                  font-size: 20px;
                  font-weight: 700;
                  color: #666;
                }
                .category-quantity {
                  margin-top: 10px;
                  display: flex;
                  align-items: center;
                  .category {
                    font-size: 18px;
                    color: #666;
                    margin-right: 15px;
                  }
                  .quantity {
                    color: #666;
                    font-size: 18px;
                  }
                }
              }
            }
            .product-total {
              font-size: 18px;
              color: #666;
              font-weight: 700;
            }
          }
        }
        .product-checkout-footer {
          border-top: 1px solid rgba(#666, 0.3);
          .subtotal {
            padding: 20px 0;
            display: flex;
            justify-content: space-between;
            h3 {
              font-size: 20px;
            }
            .subtotal-detail {
              font-size: 20px;
              font-weight: 700;
              color: #d63031;
            }
          }
          .btn-submit {
            display: block;
            height: 45px;
            line-height: 45px;
            border-radius: 5px;
            text-align: center;
            background-color: #222;
            color: #fff;
            font-weight: 700;
            transition: 0.3s;
            cursor: pointer;
            user-select: none;
            &:hover {
              background-color: #666;
            }
          }
        }
      }
    }
  }
}
