header {
  .header-top {
    z-index: 100;
    position: fixed;
    width: 100%;
    .portion-upper {
      background-color: rgba(#ffffff, 0.9);
      padding: 25px 0;
      .container {
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        .header-left {
          .wrapper-nav-main {
            display: flex;
            justify-content: center;
            align-items: center;
            .nav-main {
              margin: 0 10px;
              .nav-link-main {
                padding: 10px 0;
                font-size: 16px;
                text-transform: uppercase;
                color: #666666;
                position: relative;
                &::after {
                  content: "";
                  position: absolute;
                  bottom: 0;
                  right: 0;
                  width: 0;
                  height: 2px;
                  background-color: #ea1616;
                  transition: 0.3s;
                }
                &:hover {
                  color: #ab1e32;
                  &::after {
                    left: 0;
                    width: 100%;
                  }
                }
                i {
                  font-size: 10px;
                }
              }
              &.active-nav-main {
                .nav-link-main {
                  color: #ea1616;
                  &::after {
                    content: "";
                    width: 100%;
                    height: 2px;
                  }
                }
              }
            }
            .drop-down {
              position: relative;
              &:hover {
                .shop-down {
                  opacity: 1;
                  visibility: visible;
                }
              }
              .shop-down {
                background-color: #ffffff;
                position: absolute;
                top: calc(100% + 10px);
                right: 0;
                transform: translate(50px);
                transition: 0.3s;
                opacity: 0;
                visibility: hidden;
                border: 1px rgba(#666666, 0.2) solid;
                max-width: 250px;
                .product-categories {
                  width: 100%;
                  flex: 1;
                  border-right: 1px rgba(#666666, 0.2) solid;
                  h2 {
                    width: 100%;
                    font-size: 16px;
                    font-weight: 700;
                    padding: 30px 30px;
                    white-space: nowrap;
                    color: #666666;
                    border-bottom: 1px #666666 solid;
                  }
                  ul {
                    li {
                      width: 100%;
                      a {
                        width: 100%;
                        border-top: 1px rgba(#666666, 0.3) solid;
                        display: inline-block;
                        font-size: 14px;
                        color: #666666;
                        padding: 15px 20px;
                        transition: 0.2s;
                        &:hover {
                          background-color: #3a3939;
                          color: $headerTopUP;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .header-middle {
          position: absolute;
          left: 50%;
          top: 0;
          z-index: 11;
          .icon-home {
            transform: translate(-50%, 10px);
            a {
              transition: 0.3s;
              width: 164px;
              height: 164px;
              display: inline-block;
              cursor: pointer;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
        .header-right {
          display: flex;
          justify-content: center;
          align-items: center;
          .cart {
            cursor: pointer;
            position: relative;
            .cart-icon {
              font-size: 24px;
              color: #666666;
            }
            .quantity {
              color: #ffffff;
              position: absolute;
              width: 18px;
              height: 18px;
              background-color: #ea1616;
              font-size: 12px;
              bottom: 70%;
              left: 70%;
              border-radius: 50%;
              text-align: center;
              line-height: 18px;
            }
          }
          .info {
            font-size: 14px;
            padding: 3px 15px;
            margin: 0 25px;
            border-left: 1px #666666 solid;
            border-right: 1px #666666 solid;
            display: flex;
            justify-content: center;
            align-items: center;
            .icon-info {
              width: 27px;
              height: 27px;
              cursor: pointer;
              background-color: #666666;
              border-radius: 50%;
              text-align: center;
              i {
                line-height: 27px;
                color: #ffffff;
                transition: 0.3s;
              }
            }
            .facebook {
              margin-right: 15px;
              transition: 0.3s;
              &:hover {
                background-color: #3b5998;
                i {
                  color: $headerTopUP;
                }
              }
            }
            .twitter {
              transition: 0.3s;
              &:hover {
                background-color: #55acee;
                i {
                  color: $headerTopUP;
                }
              }
            }
          }
          .search {
            font-size: 24px;
            cursor: pointer;
            color: #666666;
            position: relative;
            padding: 15px 0;
            margin-right: 15px;
            &:hover {
              .form-search {
                opacity: 1;
                visibility: visible;
                transform: translateY(10px);
              }
            }
            .form-search {
              right: 0;
              transition: 0.3s;
              opacity: 0;
              visibility: hidden;
              position: absolute;
              min-width: 280px;
              background-color: #ffffff;
              border-radius: 5px;
              padding: 15px;
              display: flex;
              input {
                flex-grow: 1;
                padding: 10px 20px;
                background-color: #f4f4f4;
                &::placeholder {
                  color: #222222;
                  transition: 0.3s;
                }
                &:focus {
                  &::placeholder {
                    opacity: 0;
                  }
                }
              }
              .btn-search {
                width: 50px;
                height: 50px;
                background-color: #f4f4f4;
                cursor: pointer;
              }
            }
          }
          .user {
            border-left: #666666 1px solid;
            padding: 3px 0;
            i {
              font-size: 24px;
              line-height: 24px;
              cursor: pointer;
              color: #666666;
              padding-left: 25px;
            }
          }
        }
      }
    }
  }
}
