.container {
  margin: 0 auto;
  width: 1140px;
}

header {
  .header-top {
    .portion-upper {
      background-color: #ab1e32;
      .container {
        padding: 15px 0;
        .header-left {
        }
      }
    }
  }
}
