.container {
  margin: 0 auto;
  width: 1140px;
}

header {
  .header-top {
    .container {
      .portion-upper {
        background-color: #ab1e32;
        .header-left {
        }
      }
    }
  }
}
