.container {
  margin: 0 auto;
  width: 1170px;
}
* {
  font-family: "Poppins", sans-serif;
}
$headerTopUP: #ffffff;
@import "header";
@import "banner";
//muốn element đè lên video thì phải thêm z-index và position vào thằng cha
//VD:
.test {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 1000px;
  background-color: pink;
}
