header {
  .portion-upper {
    padding: 15px 0 !important;
  }
  .header-middle {
    border-radius: 50%;
    transform: translate(-50%, 10px);
    .icon-home {
      transform: translate(0) !important;

      a {
        width: 150px !important;
        height: 150px !important;
        border-radius: 50%;
        img {
        }
      }
    }
  }
}
