$colorLetter: #666;

.checkout {
  background-color: #eee;
  .container {
    .title-checkout {
      font-size: 32px;
      color: $colorLetter;
    }
    .checkout-content {
      background-color: #fff;
      .datetime-order {
      }
    }
  }
}
