* {
  font-family: "Poppins", sans-serif;
}
body {
  position: relative;
}
.container {
  margin: 0 auto;
  width: 1170px;
}
header {
  width: 100%;
  position: fixed;
  z-index: 10000;
  background-color: rgba(#ffffff, 0.8);
  .header {
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px;
      .header-right {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        a {
          img {
            width: 70px;
            height: 70px;
          }
        }
        .name-form {
          color: #666;
          margin-left: 30px;
        }
      }
      .header-left {
        a {
          color: #f0932b;
        }
      }
    }
  }
}
.background-video {
  video {
    position: fixed;
    z-index: -1;
    width: 100vw;
    top: 0;
    height: flex;
    z-index: 0;
  }
}
.form-loading {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 99999;
  background-color: rgba(#fff, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    display: flex;
    li {
      margin: 0 10px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: #f0932b;
      &:nth-child(1) {
        animation: loading 1s alternate ease-out infinite;
      }
      &:nth-child(2) {
        animation: loading 1s 0.3s alternate ease-out infinite;
      }
      &:nth-child(3) {
        animation: loading 1s 0.6s alternate ease-out infinite;
      }
    }
  }
}
.form {
  position: relative;
  z-index: 9999;
  .backgr {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    .wrapper-form {
      position: relative;
      max-width: 490px;
      padding: 40px;
      background-color: #ffffff;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      flex-grow: 1;
      .taplist {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
        button {
          font-weight: 700;

          transition: 0.3s;
          cursor: pointer;
          font-size: 30px;
          color: #f0932b;
        }
      }
      .similer {
        width: 100%;
        .form-similer {
          input {
            display: block;
            width: 100%;
            height: 43px;
            border: 1px #f0932b solid;
            padding-left: 15px;
            border-radius: 3px;
            margin-bottom: 15px;
            &:focus {
              &::placeholder {
                opacity: 0;
              }
            }
            &::placeholder {
              color: #666;
              transition: 0.3s;
            }
          }
          .input-show-pass {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px #f0932b solid;
            margin-bottom: 15px;
            height: 43px;
            border-radius: 3px;
            input {
              margin: 0;
              border: none;
            }
            .show-pass {
              width: 42px;
              height: 43px;
              text-align: center;
              cursor: pointer;
              i {
                width: 100%;
                line-height: 43px;
              }
            }
          }
        }
        .action-form {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .checkbox-form {
            input {
              position: absolute;
              opacity: 0;
              visibility: hidden;
              &:checked ~ ::after {
                opacity: 1;
              }
            }
            label {
              margin-left: 28px;
              font-size: 12px;
              color: #666;
              position: relative;
              user-select: none;
              cursor: pointer;
              &::after {
                content: "\f00c";
                opacity: 0;
                font-family: "Font Awesome 5 Free";
                font-weight: 700;
                width: 18px;
                height: 18px;
                display: block;
                background-color: #f0932b;
                color: #ffffff;
                border-radius: 3px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                right: calc(100% +18px);
                top: 50%;
                transform: translateY(-50%);
              }
              &::before {
                content: "";
                width: 18px;
                height: 18px;
                display: block;
                background-color: #ffffff;
                border: 1px #f0932b solid;
                border-radius: 3px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                right: calc(100% +18px);
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
          .forgot-pass {
            font-size: 12px;
            color: #666;
            cursor: pointer;
          }
        }
        .btn-submit {
          cursor: pointer;
          width: 100%;
          a {
            width: 100%;
            height: 43px;
            background-color: #f0932b;
            color: #ffffff;
            line-height: 43px;
            font-weight: 700;
            display: block;
          }
          border-radius: 2px;
          margin-top: 15px;
        }
        .go-to-register {
          position: relative;
          width: 100%;
          margin-top: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #666;
          a {
            &::before {
              content: "";
              position: absolute;
              top: 50%;
              left: 0%;
              transform: translateY(-50%);
              width: 37.5%;
              height: 0.5px;
              background-color: rgba(0, 0, 0, 0.25);
            }
            &::after {
              content: "";
              position: absolute;
              top: 50%;
              right: 0%;
              transform: translateY(-50%);
              width: 37.5%;
              height: 0.5px;
              background-color: rgba(0, 0, 0, 0.25);
            }
          }
        }
      }
    }
  }
}

@keyframes loading {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(-20px);
  }
}
