*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  /* mặc đinh là text-decoration: underline; */
}
ul,
ol {
  list-style: none;
}
input,
button {
  outline: none;
  border: none;
  background: none;
}
table,
th,
td {
  border-collapse: collapse;
}

/* Type number: delete ô increment, decrement */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
  margin: 0;
}
